<h1 class="subtitle">Products</h1>
<div id="add-products">
  <%= link_to "+ New Product", new_profile_product_path(1), class: 'btn coral' %>
</div>

<% @products.each do |p| %>
  <div class="product">
    <%= link_to p.title, profile_product_path(1, p) %><br>
    <%= p.description %><br>
  </div>
<% end %>
